<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="2">
	<test name="Test on chrome">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class
				name="_a13_invoking_different_browsers.SeleniumMultiBrowserDemo" />
		</classes>
	</test>
	<test name="Test on firefox">
		<parameter name="browserName" value="firefox"></parameter>
		<classes>
			<class
				name="_a13_invoking_different_browsers.SeleniumMultiBrowserDemo" />
		</classes>
	</test>
</suite>
